pandas
numpy
matplotlib
ipykernel
requests
pyarrow
scipy
tables
sqlalchemy
nltk
scikit-learn
gensim
torch
torchtext
mapply
wordcloud
torchdata
torcheval
portalocker
seaborn
spacy
transformers
notebook
datasets
accelerate
optuna
optuna-dashboard
tensorboard